.logo{
    color:  violet;
    font-size: 36px;
}

.divdroite{
    display: flex;
    gap:43px;
    align-items: center;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
}


.section1{
    	background: linear-gradient(#13181d, #20212e, #341b47);
        padding: 28px;

}


.itemnavbar{
    color: white;
    font-weight: 100;
}
.itemnavbar:hover{
    color: gray;
    cursor: pointer;
    transition: 0.5s;
}

body{
    margin: 0
;
}

.btn1{
    color: violet;
    padding: 9px;
    background: inherit;
    border: 1px solid violet;
    border-radius: 5px;
    font-size: 20px;
    
}

.btn1:hover{
    cursor: pointer;
    color: white;
    background-color: violet;
    transition: 1s;
}


/* MAIN PAGE */

.mainpage{
display: flex;
}

.titlemainpagepagegauche{
    color: white;
    font-size: 54px;
 

}

.pmainpagepagegauche{
    color: rgb(233, 227, 227);
    width: 58%;
}

.btn2{
    color: white;
    background: violet;
    padding: 9px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 6px 2px violet;
    margin-top: 20px;
}

.btn2:hover{
    cursor:pointer;
    background-color: inherit;
    transition: 0.7s;
}

.image{
    width: 170px;
    height: 170px;
    background-color: black;
    opacity: 0.3;
    border-radius: 21px;
   padding:2px;
}

.images{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.photo{
    width: 171px;
    height: 150px;
   margin: 8px 0 8px 0;

}

.photo:hover{
    cursor: pointer;
    scale:0.7;
    transition: 0.5s;
}

/* SECTION 2 */

.section2{
    background-color: #171f26; ;
    padding: 28px;
    display: flex;

}

.h4{
    margin: 0;
    color: violet;
}

.section2 h1,h3{
    color: white;
}

.titlesection2
{
    font-size: 65px;

}

.section2 p{
    color:#e4dbdb
}

.btn3{
    background: inherit;
    border: 1px solid violet;
    color: violet;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.btn3:hover{
    color: white;
    background-color: violet;
    cursor: pointer;
    transition: 0.7s;
}

.section2droite{
    width: 41%;

}

/* FOOTER */

.footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.footer h2,h3,p{
color: white;

}